/my_booker_frontend/.DS_Store
/my_booker_frontend/node_modules
/my_booker_frontend//dist


# local env files
/my_booker_frontend/.env.local
/my_booker_frontend/.env.*.local

# Log files
/my_booker_frontend/npm-debug.log*
/my_booker_frontend/yarn-debug.log*
/my_booker_frontend/yarn-error.log*
/my_booker_frontend/pnpm-debug.log*

# Editor directories and files
/my_booker_frontend/.idea
/my_booker_frontend/.vscode
/my_booker_frontend/*.suo
/my_booker_frontend/*.ntvs*
/my_booker_frontend/*.njsproj
/my_booker_frontend/*.sln
/my_booker_frontend/*.sw?

/my_booker_backend/node_modules
/my_booker_backend/public/hot
/my_booker_backend/public/storage
/my_booker_backend/storage/*.key
/my_booker_backend/vendor
/my_booker_backend/.env
/my_booker_backend/.env.backup
/my_booker_backend/.phpunit.result.cache
/my_booker_backend/docker-compose.override.yml
/my_booker_backend/Homestead.json
/my_booker_backend/Homestead.yaml
/my_booker_backend/npm-debug.log
/my_booker_backend/yarn-error.log
/my_booker_backend/.idea
/my_booker_backend/.vscode
